numpy>=1.24
pillow>=10.0
imageio-ffmpeg>=0.5.1
windows-capture>=1.4.0; sys_platform == "win32"
yt-dlp>=2026.09.01

pycaw>=20240210; sys_platform == "win32"

PyAudioWPatch>=0.2.12.9; sys_platform == "win32"
psutil>=5.9
